@charset "UTF-8";
/* ==================== Efecto de Transparencia en imagen ==================== */
/* ==================== Efecto de Zoom ==================== */
/* ==================== Efecto de Sombra en Cards ==================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*Tiene un propósito específico para restablecer estilos y eliminar inconsistencias entre navegadores.*/
/*Elimina márgenes rellenos y bordes por defecto, establece el tamaño de fuente al 100% y hereda la fuente del elemento padre.*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Indica como comportarse a los elementos html5 en navegadores antiguos*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Altura de línea consistente en toda la página.*/
body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

/*Elimina las comillas por defecto que algunos navegadores añaden automáticamente a los elementos <blockquote> y <q>*/
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/*Muestra las tables sin espaciado y con bordes colapsados para una presentación más consistente y predecible*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

#header {
  height: 75px;
  width: 100vw;
  /*Con vw arregle el desbordamiento*/
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 5;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
}
#header .logo {
  padding-inline-start: 2%;
}
#header .logo img {
  height: auto;
  width: 60px;
}
#header nav {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline-end: 2%;
}
#header nav .navLinks {
  position: fixed;
  top: 75px;
  left: 0;
  height: 93vh;
  width: 100%;
  background-color: #7C3829;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#header nav .navLinks li {
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}
#header nav .navLinks li a {
  color: #FFFFFF;
  text-decoration: none;
}
#header nav .navLinks li a:hover {
  text-decoration: underline;
  color: #F6DCCC;
}
#header nav .socialMedia {
  width: 50%;
  display: flex;
  justify-content: space-between;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
#header nav .socialMedia a i {
  font-size: 1.5rem;
  color: #483A41;
}
#header nav .socialMedia a:hover {
  transform: scale(1.05);
  /* Efecto de agrandamiento */
}
#header nav .socialMedia a:active {
  transform: scale(1);
  /*Restaura tamaño original al hacer clic */
}
#header nav .hamburger {
  font-size: 2.5rem;
  color: #6E1411;
}

#sPresentation {
  width: 100%;
  /*&::before {
      @include transparentOverlay-before;
  }*/
}
#sPresentation .presentation {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 3;
}
#sPresentation .presentation img {
  width: 100vw;
  height: 100vh;
  opacity: 0.3;
}
#sPresentation .presentation div {
  padding-block-start: 15%;
  height: 100%;
  width: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#sPresentation .presentation div h2 {
  font-size: 2.5rem;
  color: #483A41;
  padding-block-end: 7%;
  text-align: center;
  line-height: 1.4;
}
#sPresentation .presentation div h2 strong {
  font-weight: bold;
}
#sPresentation .presentation div h1 {
  background: rgba(255, 255, 255, 0.5);
  font-size: 3.5rem;
  color: #A72F1E;
  padding-inline: 5%;
  padding-block: 10%;
  text-align: center;
  border-radius: 20%;
  box-shadow: 0 2px 5px;
}
#sPresentation .presentation div img {
  height: 42vh;
  width: auto;
  opacity: 1;
}

#sSmile {
  min-height: 65vh;
  padding-inline: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #FFFFFF;
}
#sSmile h2 {
  font-size: 2.5rem;
  color: #7C3829;
}
#sSmile p {
  font-size: 1.5rem;
  text-align: justify;
  line-height: 1.2;
}

#sBannerOne {
  padding-inline: 2%;
}
#sBannerOne img {
  height: auto;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#sKnow {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#sKnow div {
  display: flex;
}
#sKnow div h2 {
  font-size: 2.5rem;
  text-orientation: upright;
  writing-mode: vertical-lr;
}
#sKnow div p {
  font-size: 1.5rem;
}

/*# sourceMappingURL=main.css.map */
