/* ==================== Efecto de Etiqueta Strong ==================== */
@mixin etiquetaStrong {
    strong {
        font-weight: bold;
    }
}

/* ==================== Efecto de Zoom ==================== */

@mixin zoom {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

@mixin zoom-hover {
    transform: scale(1.05);
    /* Efecto de agrandamiento */
}

@mixin zoom-active {
    transform: scale(1);
    /*Cuando se tiene presionado el boton vuelve a su tamano*/
}

/* ==================== Efecto de Sombra en Cards ==================== */
@mixin sombraPronunciada {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra */
}

@mixin sombraPronunciada-hover {
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    /* Sombra más pronunciada */
}

@mixin sombraPronunciada-active {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    /*Sombra más pequeña */
}

@mixin modernLightShadow {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}