$white-color: #FFFFFF;
$blood-red: #6E1411;
$burgundy-color: #801B24;
$cornell-red-color: #A72F1E;
$burnt-umber-color: #7C3829;
$van-dyke: #483A41;
$chinese-violet-color: #75657E;
$light-red-color: #FD848D;
$salmon-pink-color: #FDA4AF;
$hunyadi-yellow-color: #EDAC3B;
$sunset-color: #EEC184;
$champagne-pink-color: #F6DCCC;

/*$primary-letter: 3.5rem;
$second-letter: 2.5rem;
$third-letter: 1.5rem;
$paragraph: 1.5rem;*/



 