<img src="/assets/images/logos/lgr01.png" alt="">
<p>La Gota Roja (2025) &#169;</p>
<p>Nuestras Redes Sociales</p>
<div class="containerIcon">

    <a class="zoom" href="https://api.whatsapp.com/send?phone=593963692598" target="_blanck"
        rel="noopener noreferrer"><i class="bi bi-whatsapp"></i></a>
    <a class="zoom" href="https://www.instagram.com/lagotaroja.ec/" target="_blanck" rel="noopener noreferrer"><i
            class="bi bi-instagram"></i></a>
    <a class="zoom" href="https://www.facebook.com/profile.php?id=100071690765829" target="_blanck"
        rel="noopener noreferrer"><i class="bi bi-facebook"></i></a>
</div>