<div class="logo">
    <img width="100px" src="/assets/images/logos/lgr01.png" alt="">
</div>
<p>La Gota Roja (2025) &#169;</p>
<div class="containerIcon">
    <p>Nuestras Redes Sociales</p>
    <a class="zoom" href="https://api.whatsapp.com/send?phone=593963692598" target="_blanck" rel="noopener noreferrer"><i
            class="bi bi-whatsapp"></i></a>
    <a class="zoom" href="https://www.facebook.com/profile.php?id=100071690765829" target="_blanck" rel="noopener noreferrer"><i
            class="bi bi-facebook"></i></a>
</div>
