@use '../variables' as *;
@use '../mixins' as *;

#header {
    height: 75px;
    width: 100vw;
    /*Con vw arregle el desbordamiento*/
    background-color: $white-color;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    z-index: 5;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);

    .logo {
        padding-inline-start: 2%;

        img {
            height: auto;
            width: 60px;
        }
    }

    nav {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline-end: 2%;

        .navLinks {
            display: none;
            position: fixed;
            top: 75px;
            left: 0;
            height: 93vh;
            width: 100%;
            background-color: $burnt-umber-color;
            align-items: center; /*Actua cuando el js cambia la propiedad display*/

            li {
                padding-block-start: 20%;
                align-items: center;
                justify-content: center;
                font-size: 2.5rem;

                a {
                    color: $white-color;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                        color: $champagne-pink-color;
                    }
                }
            }

        }

        .socialMedia {
            width: 70%;
            display: flex;
            justify-content: space-between;
            @include efectoZoomPresionado;

            a {
                i {
                    font-size: 1.5rem;
                    color: $van-dyke;
                }

                &:hover {
                    @include efectoZoomPresionado;
                }

                &:active {
                    @include efectoZoomPresionado;
                }

            }
        }

        .hamburger {
            font-size: 2.5rem;
            color: $blood-red;
            @include efectoZoomPresionado;
        }
    }
}