@use '../variables' as *;
@use '../mixins' as *;

.btnGeneric {
    border: none;
    padding: 15px 25px;
    border-radius: 25px;
    cursor: pointer;
}

.btnContact {
    background-color: $white-color;
    font-size: 2rem;
    color: $van-dyke;
    @include efectoZoomPresionado;
    @include sombraPronunciada;
}